click==8.1.7
mccabe==0.7.0
mypy-extensions==1.0.0
numpy==1.26.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
pygame==2.5.2
python-dotenv==1.0.0
PyTMX==3.32
six==1.16.0
qutip~=4.7.3